<h1>Baseball Player Database</h1>
<p>Add your favorite baseball players to your list! Then edit them later, or... delete them if they wrong you somehow...</p>
<h5>Select the Baseball Players link above to get started!</h5>
<p>Find me in app/views/static/home.html.erb</p>