/* Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

ul {
  list-style-type: none;
  color: white;
  background-color: green;
  display: block;
  text-align: center;
}

li {
  text-decoration: none;
  padding: 5px;
}

a:link, a:visited {
  color: white;
}

h5 {
  background-color: gray;
  border-radius: 6px;
  color: white;
  padding: 10px;
  display: inline-block;
}